{% extends "base.html" %}
{% load static %}
{% block title %}
  Технологии
{% endblock title %}
{% block content %}
  {% comment %} Колонки с отступом сверху и снизу
  {% endcomment %}
  <div class="row">
    <h1>Вот что я умею*</h1>
    {% comment %} Боковой блок со списком технологий Займет всю ширину блока на
    мобильном и 25% при размерах экрана ≥768px {% endcomment %}
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Python</li>
        <li class="list-group-item">Django</li>
        <li class="list-group-item">Спать</li>
        <li class="list-group-item">Варить пельмени</li>
        <li class="list-group-item">Спать... или это уже было...</li>
      </ul>
    </aside>
    {% comment %} Статья Займет всю ширину блока на мобильном и 75% при размерах
    экрана ≥768px {% endcomment %}
    <article class="col-12 col-md-9">
      <p>В процессе создания данного проекта мне помогали:</p>
      <ul>
        <li>теоретический материал Практикума;</li>
        <li>
          Google (и собственно рузультаты типа&nbsp;<a href="https://stackoverflow.com/" target="_blank">stackoverflow</a>,
          <a href="https://www.w3schools.com/" target="_blank">w3schools</a>
          и т.п.);
        </li>
        <li>
          естественно наставники и вопросы других обучающихся (где же еще
          посмотреть точно работающий код);
        </li>
        <li>
          в написании HTML мне помог
          <a href="https://htmled.it/" target="_blank">htmled</a>, без которого писать и
          форматировать весь этот текст было бы куда более длительной задачей 😁.
        </li>
      </ul>
    </article>
    <div class="text-center p-4">
      <img class="card-img mb-4 mt-4" src="{% static "img/nico.jpg" %}" style="max-width:720px; max-height:720px; object-fit: contain">
      <br />
      <br />
      <strong>Самое главное - руки из нужного места!</strong>
    </div>
    <p>
      <sub>* пока что...</sub>
    </p>
  </div>
{% endblock %}
