{% extends "base.html" %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% block content %}
  <h1>{{ group.title }}</h1>
  <p>{{ group.description }}</p>
  <ul class="list-group list-group-horizontal-sm mb-2">
    <a class="link-primary list-group-item"
       href="{% url 'posts:group_members' group.slug %}">Участники: {{ members_count }}</a>
    <a class="link-primary list-group-item"
       href="{% url 'posts:group_administrators' group.slug %}">Администраторы: {{ administrators_count }}</a>
  </ul>
  {% if membership and membership.role != "a" %}
    <a class="btn btn-lg btn-secondary mb-2 mt-2 me-2"
       href="{% url 'posts:group_unfollow' group.slug %}"
       role="button">Отписаться</a>
  {% elif membership.role != "a" %}
    <a class="btn btn-lg btn-primary mb-2 mt-2 me-2"
       href="{% url 'posts:group_follow' group.slug %}"
       role="button">Подписаться</a>
  {% else %}
    <a class="btn btn-primary mb-2 mt-2 me-2"
       href="{% url 'posts:group_edit' group.slug %}"
       role="button">Редактировать данные группы</a>
    <a class="btn btn-secondary mb-2 mt-2 me-2"
       href="{% url 'posts:group_role_m' group.slug %}"
       role="button">Добавить администратора</a>
    {% if administrators_count == 1 %}
      <span class="d-inline-block"
            tabindex="0"
            data-bs-toggle="popover"
            data-bs-trigger="hover focus"
            data-bs-content="Вы не можете снять с себя права администратора, пока не назначите другого"
            data-bs-placement="top">
        <button class="btn btn-secondary mb-2 mt-2 me-2" type="button" disabled>Снять с себя права администратора</button>
      </span>
    {% else %}
      <button type="button"
              class="btn btn-secondary mb-2 mt-2 me-2"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal">Снять с себя права администратора</button>
      <!-- Modal -->
      <div class="modal fade"
           id="exampleModal"
           tabindex="-1"
           aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Снять с себя права администратора?</h1>
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
              <a class="btn btn-danger"
                 href="{% url 'posts:group_demote_administrator' group.slug %}"
                 role="button">Да</a>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    <!-- Button trigger modal -->
    <button type="button"
            class="btn btn-danger mb-2 mt-2 me-2"
            data-bs-toggle="modal"
            data-bs-target="#delete">Удалить группу</button>
    <!-- Modal -->
    <div class="modal fade"
         id="delete"
         tabindex="-1"
         aria-labelledby="deleteLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteLabel">Удалить группу?</h1>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
            <form method="post" action="{% url 'posts:group_delete' group.slug %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Да</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <hr />
  {% for post in page_obj %}
    {% include 'posts/includes/article.html' %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}
