{% extends "base.html" %}
{% block title %}Группы{% endblock %}
{% block content %}
  <h1>Группы</h1>
  {% if user.is_authenticated %}
    <a class="btn btn-primary mb-2 mt-2 me-2"
       href="{% url 'posts:profile_group_list' user.username %}"
       role="button">Мои группы</a>
  {% endif %}
  <a class="btn btn-primary mb-2 mt-2 me-2"
     href="{% url 'posts:group_create' %}"
     role="button">Создать группу</a>
  <br>
  <br>
  {% for group in groups %}
    <h4>
      <a href="{% url 'posts:group_posts' group.slug %}"
         class="text-decoration-none">{{ group.title }}</a>
    </h4>
    <p class="text-secondary">Участники: {{ group.members.count }}</p>
    <p>{{ group.description }}</p>
    {% if not forloop.last %}<hr />{% endif %}
  {% endfor %}
{% endblock %}
