{% load tz %}
{% load user_filters %}
<article>
  <h4>
    <a href="{% url 'posts:profile' post.author.username %}"
       class="text-decoration-none">
      {% if post.author.get_full_name %}
        {{ post.author.get_full_name }}
      {% else %}
        {{ post.author.username }}
      {% endif %}
    </a>
  </h4>
  {% if post.group %}
    <h5>
      Для группы <a href="{% url 'posts:group_posts' post.group.slug %}"
    class="text-decoration-none">{{ post.group.title }}</a>
    </h5>
  {% endif %}
  <br>
  {{ post.text|linebreaksbr }}
  <br>
  {% if post.image %}
    <div class="text-center">
      <img class="card-img mb-4 mt-4"
           src="{{ post.image.url }}"
           style="object-fit: contain;
                  max-height:480px">
    </div>
  {% endif %}
  {% if timezone %}
    {% timezone timezone %}
    <p>
      <a href="{% url 'posts:post_detail' post.id %}"
         class="text-decoration-none">{{ post.pub_date|date:"d E Y H:i" }}</a>
    </p>
  {% endtimezone %}
{% elif request.COOKIES.timezone %}
  {% timezone request.COOKIES.timezone %}
  <p>
    <a href="{% url 'posts:post_detail' post.id %}"
       class="text-decoration-none">{{ post.pub_date|date:"d E Y H:i" }}</a>
  </p>
{% endtimezone %}
{% else %}
<p>
  <a href="{% url 'posts:post_detail' post.id %}"
     class="text-decoration-none">{{ post.pub_date|date:"d E Y H:i" }}</a>
</p>
{% endif %}
<ul class="list-group list-group-horizontal-sm mb-2">
  <a class="link-primary list-group-item"
     href="{% url 'posts:post_detail' post.id %}#likes">Лайки: {{ post.likes.count }}</a>
  <a class="link-primary list-group-item"
     href="{% url 'posts:post_detail' post.id %}#comments">Комментарии: {{ post.comments.count }}</a>
</ul>
{% if not forloop.last %}<hr />{% endif %}
</article>
