{% load user_filters %}
{% load tz %}
{% if user.is_authenticated %}
  <div class="card my-4">
    <h5 class="card-header">Добавить комментарий:</h5>
    <div class="card-body">
      <form method="post" action="{% url 'posts:add_comment' post.id %}">
        {% csrf_token %}
        <div class="form-group mb-2">{{ form.text|addclass:"form-control" }}</div>
        <button type="submit" class="btn btn-primary">Отправить</button>
      </form>
    </div>
  </div>
{% endif %}
{% for comment in comments %}
  <div class="media mb-4">
    <div class="media-body">
      <h5 class="mt-0 d-flex justify-content-start">
        <a class="text-decoration-none"
           href="{% url 'posts:profile' comment.author.username %}">{{ comment.author.username }}</a>
      </h5>
      <p>{{ comment.text|linebreaksbr }}</p>
      {% if request.COOKIES.timezone %}
        {% timezone request.COOKIES.timezone %}
        <p>
          <small>{{ comment.created|date:"d E Y H:i" }}</small>
        </p>
      {% endtimezone %}
    {% else %}
      <p>
        <small>{{ comment.created|date:"d E Y H:i" }}</small>
      </p>
    {% endif %}
    {% if comment.author == user %}
      <a class="btn btn-sm btn-primary mb-1 me-1"
         href="{% url 'posts:comment_edit' comment.id %}">Редактировать</a>
      <a class="btn btn-sm btn-danger mb-1 me-1"
         href="{% url 'posts:comment_delete' comment.id %}">Удалить</a>
    {% endif %}
  </div>
</div>
{% if not forloop.last %}<hr />{% endif %}
{% endfor %}
